/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

/* CSS Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Base Styles */

body {
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* Navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333;
    color: #fff;
    opacity: 0.9;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    padding: 0 30px;
    /* ??? */
    position: static;
}

.navbar .logo {
    font-weight: 400;
}

.navbar a {
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: #28a745 2px solid;
}

.navbar ul {
    display: flex;
}

/* Header */

.hero {
    background: url('../image_resources/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    /* Position Needed for Overlay */
    position: relative;
    color: #fff;
}

.hero .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
    align-items: center; /*-1 horizontal */
    justify-content: center; /*-2 vertical */
    height: 100%; /*-3 brings it to center of container by setting height*/
}

.hero .content h1 {
    font-size: 55px;
}

.hero .content p {
    font-size: 23px;
    max-width: 600px;
    margin: 20px 0 30px; /*top L/R bottom */
}

/*overlay*/
.hero::before {
    /* required property, make an empty string */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* move items in front of overlay*/
.hero * {
    z-index: 10;
}

/* Main */

/* About: Icons */

.icons {
    padding: 30px;
}

.icons h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.icons i {
    background-color: #28a745;
    color: #fff;
    padding: 1rem; /*16px*/
    border-radius: 50%;
    margin-bottom: 15px;
}

/* Solutions */
/* see utilities.css */

/* Cases */
/* see utilities.css */

.cases img:hover {
    opacity: 0.7;
}

/* Blog */
/* see utilities.css */

/* Team */

.team-img {
    border-radius: 50%;
}

/* Contact */
/* Form */

.callback-form {
    width: 100%;
    padding: 20px 0;
}

.callback-form label {
    /*default labels are inline */
    display: block;
    margin-bottom: 5px;
}

.callback-form .form-control {
    margin-bottom: 15px;
}

.callback-form input {
    width: 100%;
    padding: 4px;
    height: 40px;
    border: #f5f5f5 1px solid;
}

.callback-form input:focus {
    outline-color: #28a745;
}

.callback-form .btn {
    padding: 12px 0;
    margin-top: 20px;
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    text-align: center;
    height: 200px;
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #28a745;
}

.footer .social {
    margin-top: 60px;
}

.footer .social > *{
    margin-right: 30px;

}