body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    margin: 0;
}

.is-required:after {
    content: '*';
}

.is-required::before {
    content: '--- ';
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

header:before {
    /* image has opactity, text doesn't */
    content: '';
    background: url('https://source.unsplash.com/random') no-repeat center;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

header h1 {
    font-size: 4rem;
    margin: 1rem;
}