body {
    background: #333;
}

.box {
    background: white;
    width: 200px;
    height: 200px;
    position: relative;

    
    animation-name: animate1;
    animation-duration: 5s;
    animation-iteration-count: 2;

    /* keeps .box at 600px */
    animation-fill-mode: forwards;

    /* animation-delay: 2s; */
    animation-timing-function: ease-in;
}

@keyframes animate1 {
    from {
        width: 200px;
        top: 0;
    }
    to {
        width: 600px;
        background-color: red;
        top: 300px
    }
}