@import 'variables';
@import '_functions';

* {
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    background: $light-color;
    font-family: $font-stack;
}

header {
    background: $light-color;
    //color: $light-color;
    color: set-text-color($light-color);
    padding: 1rem;

    h1 {
        text-align: center;
    }
}

.section {
    padding: 3rem;

    h3 {
        font-size: 2rem;
    }

    //.section-a
    &-a{
        background: $primary-color;
        color: #fff;
    }

    //.section-b
    &-b {
        background: $secondary-color;
    }
}

/*
a {
    color: #333;
    &:hover {
        color: coral;
    }
}
*/

//inheritance

%btn-shared {
    display: inline-block;
    padding: 0.7rem 2rem;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1rem;
}

.btn {

    &-light {
        @extend %btn-shared;
        background-color: $light-color;
        color: #333;

        //mixin
        &:hover {
            @include transform(rotate(180deg));
            background-color: darken($light-color, 10%);
        }
    }

    &-dark {
        @extend %btn-shared;
        background-color: $dark-color;
        color: #fff;

             //mixin
             &:hover {
                @include transform(rotate(-180deg));
                background-color: lighten($dark-color, 10%);
            }
    }
}
