h1 {
    /*display: none;*/
    /* visibility: hidden; */
    color: blue !important;
}

/* class overrides element selector */
/* UNLESS using !important flag */
.hello {
    color: red;
    /* Negative Margins */
    margin-top: -20px;
    margin-left: -15px;
}