/*Set a default font (e.g. sans-serif) for the entire content of your page and use "Inheritance" to change the font of the <li> items, too.*/
/*Convention is to put Body at the top*/
body {
    font-family: sans-serif;
}

/*Style the above <h1> tag to use any color of your choice and a sans-serif font.*/
#assignment-instructions {
    font-family: sans-serif;
    color: blue;
}

/*Style all <code> tags to use the monospace font-family and have red text.*/
code {
    font-family: monospace;
    color: red;
}

/*Use a class selector to ensure that the <code> elements in the second <li> element have a different color (e.g. greenyellow).*/
.highlighted-code {
    color: greenyellow;
}

/*Use a combinator to give all <li> elements but the first one (!) a black background and white text color (don't worry if the numbers disappear).*/
/*The adjacent sibling combinator (+) separates two selectors and matches the second element only if it immediately follows the first element, and both are children of the same parent element.
In this case - every list item, but the first list item*/
li + li {
    background-color: black;
    color: white;
}

/*Use another combinator to now give all <li> inside an <ol> element a black background and white text color.*/
/*The child combinator (>) is placed between two CSS selectors. It matches only those elements matched by the second selector that are the direct children of elements matched by the first*/
/*Overwrites Previous Code*/
ol > li {
    background-color: black;
    color: white;
}
